<body>
  <div>
    <canvas id="myChart" height="500px" width="100px"></canvas>
  </div>
  {{#unless albums}} //This is if for some reason, the connection to the album database is severed 
  <div class="card">
    <div class="card-body">
      <h4 class="card-title album">Album: 500</h4>
      <h5 class="card-title artist">Artist: 500</h5>
      <h6 class="card-title year">Year: 500</h6>
      <p class="card-title rank">Rank: 500</p>
      <p class="card-title genre">Genre: 500</p>
      <p class="card-title genre">User Rating: 500</p>
      <p>Rate Album:</p>
      <ul class="ratings">
        <button type="button" class="btn">500</button>
        <button type="button" class="btn">500</button>
        <button type="button" class="btn">500</button>
        <button type="button" class="btn">500</button>
        <button type="button" class="btn">500</button>
      </ul>
    </div>
  </div>
{{/unless}} 
<div class="albums">
  {{#each albums as |album|}}
  <div class="card">
    <img src="/images/{{album.id}}.png" class="card-img-top album-art" alt="Album Art">
    <div class="card-body">
      <h4 class="card-title album">Album: {{album.Album}}</h4>
      <h5 class="card-title artist">Artist: {{album.Artist}}</h5>
      <h6 class="card-title year">Year: {{album.Year}}</h6>
      <p class="card-title rank">Rank: {{album.Number}}</p>
      <p class="card-title genre">Genre: {{album.Genre}}</p>
      <p class="card-title genre">Average Rating: {{album.rating_group}}</p>
      <p>Rate Album:</p>
      <div class="ratings" data-id={{album.id}}>
        <button type="button" class="btn">1</button>
        <button type="button" class="btn">2</button>
        <button type="button" class="btn">3</button>
        <button type="button" class="btn">4</button>
        <button type="button" class="btn">5</button>
      </div>
    </div>
  </div>
{{/each}}
</div>
  

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/visuals.js"></script>
  <script src="/js/albumRatings.js"></script>
</body>