
<body>
    <h1>Albums</h1>
    <ul class="album-list"></ul>
    <script id="album-list" type="text/x-handlebars-template">
        <li class='album'>
            <h2>{{name}}</p>
            <p>Artist: {{artist}}</p>
            <p>Song: {{song}}</p>
            <p>Year: {{year}}</p>
            <p>Genre: {{genre}}</p>
            <p>SubGenre: {{subgenre}}</p>
            <p>Rating: {{rating}}</p>
        </li>
    </script>
    <script src="js/handlers-v4.0.5.js"></script>
</body>
</html>